<div
  id="desktop"
  class="relative h-screen w-full overflow-hidden px-4 pb-24 pt-4 sm:px-6 lg:px-8"
>
  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105 no-delete"
    data-app="explorer"
  >
    <div
      class="w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      📁
    </div>

    <span
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] mt-2 text-xs font-medium sm:text-sm"
    >
      Explorer
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="browser"
  >
    <div
      class="w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      🌐
    </div>

    <span
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] mt-2 text-xs font-medium sm:text-sm"
    >
      Browser
    </span>
  </button>
  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="notepad"
  >
    <div
      class="w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      ✍
    </div>

    <span
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] mt-2 text-xs font-medium sm:text-sm"
    >
      Notepad
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="weather"
    data-url="https://wttr.in"
  >
    <div
      class="relative w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      ☁
      <span
        class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] absolute -right-1 -top-1 text-sm"
        >↗</span
      >
    </div>

    <span
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] mt-2 text-xs font-medium sm:text-sm"
    >
      Weather
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="wallpaper"
  >
    <div
      class="relative w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      🖼️
    </div>

    <span
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] mt-2 text-xs font-medium sm:text-sm"
    >
      Wallpaper
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="snake"
  >
    <div
      class="relative w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      🐍
    </div>

    <span
      class="drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,1)] mt-2 text-xs font-medium sm:text-sm"
    >
      Snake
    </span>
  </button>
</div>
