<div
  id="desktop"
  class="relative h-screen w-full overflow-hidden px-4 pb-24 pt-4 sm:px-6 lg:px-8"
>
  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105 no-delete"
    data-app="explorer"
  >
    <div
      class="w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      <img src="assets/directory.png" />
    </div>

    <span class="mt-2 text-xs font-medium sm:text-sm paint-text">
      Explorer
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="browser"
  >
    <div
      class="w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      <img src="assets/explorer.png" />
    </div>

    <span class="mt-2 text-xs font-medium sm:text-sm paint-text">
      Browser
    </span>
  </button>
  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="notepad"
  >
    <div
      class="w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      <img src="assets/notepad.png" />
    </div>

    <span class="mt-2 text-xs font-medium sm:text-sm paint-text">
      Notepad
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="weather"
    data-url="https://wttr.in"
  >
    <div
      class="relative w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      <img src="assets/weather.png" />
    </div>

    <span class="mt-2 text-xs font-medium sm:text-sm paint-text">
      Weather
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="wallpaper"
  >
    <div
      class="relative w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      <img src="assets/wallpaper.png" />
    </div>

    <span class="mt-2 text-xs font-medium sm:text-sm paint-text">
      Wallpaper
    </span>
  </button>

  <button
    class="app-icon absolute flex flex-col items-center cursor-move transition hover:scale-105"
    data-app="snake"
  >
    <div
      class="relative w-16 h-16 rounded-xl bg-gray-800 flex items-center justify-center text-3xl shadow"
    >
      <img src="assets/snake.png" />
    </div>

    <span class="mt-2 text-xs font-medium sm:text-sm paint-text"> Snake </span>
  </button>
</div>
